body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;

  background-color: #152f41;
  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(136, 14, 14, 0.04) 1px, transparent 1px);
  background-size: 80px 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}
body::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(150, 148, 12, 0.212);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 4s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0;
  }
}

.main-container {
  display: flex;
  justify-content: center;   /* centers left+right as a group */
  align-items: center;       /* centers vertically */
  gap: 200px;                 /* distance between left & right */
  height: 100vh;
}


/* Left container */
.left-container {
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;       /* apply border-radius here */
  overflow: hidden;           /* important for clipping the video */
  
}

.left-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* Right container */
.right-container {
  width: 60%;
  height: 60%;
  display: flex;
 
  flex-direction: column;  /* stacks children vertically */
  gap: 10px;               /* optional: space between items */
}

h2 {
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}


input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 15px;
}

button {
  margin-top: 18px;
  padding: 14px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0,114,255,0.4);
}
